<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880093497669-2l7i51jibmp33g80s5467o7ssqfo6e1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880093497669-2l7i51jibmp33g80s5467o7ssqfo6e1o</string>
	<key>API_KEY</key>
	<string>AIzaSyANx8m2pYvhKxpIhQHkQqNvY8HXt86goOE</string>
	<key>GCM_SENDER_ID</key>
	<string>880093497669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feedback</string>
	<key>PROJECT_ID</key>
	<string>feedbackapp-e771f</string>
	<key>STORAGE_BUCKET</key>
	<string>feedbackapp-e771f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880093497669:ios:9ef21e16617c3294cf562c</string>
</dict>
</plist>